[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
	branch = 1.42
[submodule "oe-core"]
	path = oe-core
	url = git://git.openembedded.org/openembedded-core
	branch = warrior
	warrior = warrior
[submodule "meta-freescale"]
	path = meta-freescale
	url = git://git.yoctoproject.org/meta-freescale
	branch = warrior
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = warrior
[submodule "meta-datarespons"]
	path = meta-datarespons
	url = https://mbucket.datarespons.com/scm/oe-dr/meta-datarespons.git
	branch = master
[submodule "meta-bsp-vdt6010"]
	path = meta-bsp-vdt6010
	url = https://mbucket.datarespons.com/scm/oe-bsp/meta-bsp-vdt6010.git
[submodule "meta-factory"]
	path = meta-factory
	url = https://mbucket.datarespons.com/scm/oe-bsp/meta-factory.git
[submodule "meta-connectivity"]
	path = meta-connectivity
	url = https://mbucket.datarespons.com/scm/oe-dr/meta-connectivity.git
	branch = master
