[submodule "bitbake"]
	path = bitbake
	url = git://git.openembedded.org/bitbake
	branch = 1.46
[submodule "oe-core"]
	path = oe-core
	url = git://git.openembedded.org/openembedded-core
	branch = dunfell
[submodule "meta-freescale"]
	path = meta-freescale
	url = git://git.yoctoproject.org/meta-freescale
	branch = dunfell
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = dunfell
[submodule "meta-datarespons"]
	path = meta-datarespons
	url = ssh://git@github.com/data-respons-solutions/meta-datarespons.git
	branch = master
[submodule "meta-bsp-vdt6010"]
	path = meta-bsp-vdt6010
	url = ssh://git@github.com/data-respons-solutions/meta-bsp-vdt6010.git
[submodule "meta-connectivity"]
	path = meta-connectivity
	url = ssh://git@github.com/data-respons-solutions/meta-connectivity.git
	branch = master
[submodule "meta-bsp-common"]
	path = meta-bsp-common
	url = ssh://git@github.com/data-respons-solutions/meta-bsp-common.git
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = dunfell
[submodule "meta-browser"]
	path = meta-browser
	url = https://github.com/OSSystems/meta-browser.git
[submodule "meta-python2"]
	path = meta-python2
	url = git://git.openembedded.org/meta-python2
	branch = dunfell
